body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Courier, monospace;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #3999da;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

ul {
    padding-left: 20px;
}

.card {
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}